{% assign pages = site.pages | sort:"index"  %}
{% assign pages = pages | where:"chapter", page.chapter  %}

<!-- semantic elements not supported by IE lt 9 -->
<div class="nav">

  <div class="links">{% for p in pages %}<!-- {% if p.title %} -->
      <a href="{{ p.url | prepend: site.baseurl }}"{% if p.title == page.title %} class="current"{% endif %}>
        <span class="index">{{p.index | plus:1}}</span>
        <span class="title">{{p.title}}</span>
      </a><!-- {% endif %} -->{% endfor %}
  </div>

  {% include github.html %}

</div>

