<nav>

  <!-- <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a> -->

  {% for page in site.pages %}
    {% if page.title %}
      <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
    {% endif %}
  {% endfor %}

  <div class="github">
    <a href="https://github.com/samdutton/ilt/edit/gh-pages/content{{page.url}}/index.md" title="Edit this page on GitHub">Edit this page</a>
    <a href="https://github.com/samdutton/ilt/issues/new?title=Error%20report:%20{{page.title}}&body=**Description**%0A%0A%0A**Steps%20to%20reproduce**%0A%0A%0A**Page**%0A[{{page.title}}](https://samduttton.github.io/ilt{{ page.url }})" title="Create an issue on GitHub to report an error">Report an error</a>
    <a href="https://github.com/samdutton/ilt/issues/new?title=Suggestion%20for:%20{{page.title}}&body=**Description**%0A%0A%0A**Page**%0A%20[{{page.title}}](https://samduttton.github.io/ilt{{ page.url }})" title="Create an issue on GitHub to make a suggestion">Make a suggestion</a>
  </div>

</nav>

