<!DOCTYPE html>
<html>

{% include head.html %}

<body>

{% assign pages = site.pages | sort:"chapter"  %}
<!-- {% assign pages = pages | where:"chapter", page.chapter  %}
 -->

{% for p in pages %}
{% endfor %}

<!-- <nav>

  <div class="links">{% for p in pages %}{% if p.title %}
      <a href="{{ p.url | prepend: site.baseurl }}"{% if p.title == page.title %} class="current"{% endif %}>
        <span class="index">{{p.index | plus:1}}</span>
        <span class="title">{{p.title}}</span>
      </a>{% endif %}{% endfor %}
  </div>

  {% include github.html %}

</nav> -->


</body>

</html>
